<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>FundAlloc-AI</title>
    <link rel="icon" href="./static/logo.png">
    <link rel="stylesheet" href="./static/styles.css">
</head>
<body>
    <div class="heading">
        <div class="img"><img src="./static/logo.png" alt=""></div>
        <div class="name">
            <h1 style="color:rgb(199, 202, 18); padding-left:2vw;">FundAlloc-AI</h1>
            <p style="color:rgb(43, 226, 220); padding-left:1vw;">Now decide now your risk and return!</p>
        </div>
    </div>
    <div style="background-image: linear-gradient(to right  , orange , green); width:100%; height:10px;"></div>
    <br>
    <div class="slider">
        <div class="slides">
            <div class="slider" id="sliderContainer">
                <img src="./static/slides/slide1.png" class="slide active" />
                <img src="./static/slides/slide2.png" class="slide" />
                <img src="./static/slides/slide3.png" class="slide"/>
                <img src="./static/slides/slide4.png" class="slide"/>
                <img src="./static/slides/slide5.png" class="slide"/>
                <img src="./static/slides/slide6.png" class="slide"/>
                <img src="./static/slides/slide7.png" class="slide"/>
                </div>
                <button class="nav prev">&#10094;</button>
                <button class="nav next">&#10095;</button>
                <div class="dots">
                <span class="dot active"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
                <span class="dot"></span>
            </div>
        </div>
    </div>
    <div class="popup" id="popup">
        <span class="close" id="closePopup">&times;</span>
        <img src="" id="popupImage" alt="Popup Image">
        <div class="popup-controls">
            <div class="popup-dots"></div>
        </div>
    </div>
   The remaining code is hidden
</body>
</html>

